@import "../../../node_modules/react-toolbox/lib/_base";
@import "../../../node_modules/react-toolbox/lib/app_bar/_config";
@import "../_config";

.appbar {
  background-color: transparent;
  color: #333333;
}

.table {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */

  padding: 10px;
  border-radius: 5px;

  display: table;
  margin: 0 auto;
}

.row {
  display: table-cell;
  margin: 0 auto;
  padding-right: 20px;
}

.basketIcon{
  color: $header_text_color;
  background-color: $header_elements_bg_color;
}