@import "~react-toolbox/lib/commons";
@import "~react-toolbox/lib/app_bar/_config";

.item {
  float: left;
  margin: 0 10px 10px 0;
  overflow: hidden;
  position: relative;
  width: 225px;
  height: 450px;
  border: 1px solid #f2f2f2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background: #ffffff;
  padding: 10px;
  border-radius: 5px;
}

.itemLink {
  display: block;
  height: 360px;
  width: 225px;
}

.itemName {
  color: #023761;
  font-size: 12px;
  font-style: normal;
  padding: 5px 0;
}

.itemPrice {
  bottom: 0;
  padding: 10px;
  position: absolute;
  right: 0;
}

.itemPriceNew {
  color: #6eb809;
  font-size: 22px;
  text-align: right;
}

.itemPriceOld {
  color: #7d7d7d;
  font-size: 12px;
  text-align: right;
  text-decoration: line-through;
}