@import "../../../node_modules/react-toolbox/lib/_base";
@import "../../../node_modules/react-toolbox/lib/app_bar/_config";
@import "../../../node_modules/react-toolbox/lib/button/_config";

$title-font-size: 1.8 * $unit;

$button-size: 40px;

// You need to boost priority more than the minimum since
// your build comes with React Toolbox's and we can't
// ensure the order. You can either set a wrapper or target
// React Toolbox data attributes to boost
.searchfield {
  background-color: transparent;
  border: none;
}
